{:paths   ["src/clj" "src/resources"]
 :deps    {org.clojure/clojure              {:mvn/version "1.12.5"}
           #_#_io.github.amiorin/big-config {:git/sha "12f853026d7758b18942c73b541e0b6b1f77f773"}
           io.github.amiorin/big-config     {:local/root "../../big-config/clojure"}
           cheshire/cheshire                {:mvn/version "6.2.0"}
           babashka/process                 {:mvn/version "0.6.25"}
           com.rpl/specter                  {:mvn/version "1.1.6"}
           clj-commons/clj-yaml             {:mvn/version "1.0.29"}
           metosin/malli                    {:mvn/version "0.20.1"}}
 :aliases {:dev  {:extra-paths ["env/dev/clj" "test/clj"]}
           :test {:extra-paths ["test/clj"]
                  :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :main-opts ["-m" "cognitect.test-runner"]
                  :exec-fn cognitect.test-runner.api/test}}}
