{:deps {io.github.amiorin/green      {:git/url "https://github.com/amiorin/green.git"
                                      :git/sha "1c1fb81563287c98aa1bcd0e12cd755296e6d98e"}
        io.github.bigconfig-ai/once {:local/root "."}}}
