{:deps {io.github.getcolors/green      {:git/url "https://github.com/getcolors/green.git"
                                      :git/sha "ceb4159a19ec281d60f10d11295c05c5de5f1c42"}
        io.github.getcolors/once {:local/root "."}}}
